.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.back-button {
  margin-bottom: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2px; 
}


.back-icon {
  font-size: 20px; 
}

.back-text {
  font-size: 18px; 
  font-weight: 700;
}


.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.recipe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.input,
.custom-select__control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.custom-select__control {
  padding: 0;
  display: flex;
  align-items: center;
}

.input:focus {
  border-color: #6200ea;
  box-shadow: 0 0 0 2px rgba(98, 0, 234, 0.2);
  outline: none;
}

.instructions {
  width: 100%;
}

.ingredient-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.category-container {
  display: flex;
  align-items: center; /* Vertically center the elements */
  gap: 5px; /* Space between the select and the button */
  width: 100%;
}

.add-category-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #6200ea;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
  padding: 0;
}

.add-category-button:hover {
  color: #4e00bc;
  transform: scale(1.1); /* Subtle hover animation */
}

.add-category-button:focus {
  outline: none;
}


.add-button, .remove-button {
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.remove-button:hover {
  background-color: #4e00bc;
}

.add-button:hover {
  background-color: #4e00bc;
}

.submit-button {
  width: 100px;
  padding: 10px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.submit-button:hover {
  background-color: #4e00bc;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
.categories-group{
  display: grid;
  grid-template-columns: 95% 6%;
}
.categories-group input[type="text"] {
  grid-column: 1/2;
}

.categories-group button {
  grid-column: 2/3;
}

.new-category-input{
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 10px;
  gap: 10px;
}
.new-category-input input[type="text"] {
  grid-column: 1/2;
  width: 100%;
  margin: 0;
}

.new-category-input button {
  grid-column: 2/3;
  width: 100%;
}